<nav class="navbar navbar-expand-sm navbar-light " style="  background-color: #3d86c6;  ">
  <a class="navbar-brand" href="#">
    <img
    src="assets/images/svg/menu.svg"  *ngIf="authService.isLoggedIn()"
    alt="Tata Communications" class="logo" style="width: auto;"
   />
  <img
  src="assets/images/svg/logo.svg"
  alt="Tata Communications" class="logo"
 />
  </a>
  <button class="navbar-toggler" (click)="collapse=!collapse" type="button" aria-expanded="false"   aria-label="Toggle navigation" >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse" (click)="collapse=true" [hidden]="collapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item"  *ngIf="!authService.isLoggedIn()">
        <a class="nav-link" href="#">
          <div class="image-box">
            <div class="image-item">
              <img src="assets/images/svg/user-circle.svg" alt="My Cart" class="user-logo">
               <span class="image-label">Login</span>
            </div>
          </div>
        </a>
      </li>
      <li class="nav-item"  *ngIf="authService.isLoggedIn()">
        <a class="nav-link" href="#">
          <div class="image-box">
            <div class="image-item">
              <img src="assets/images/svg/cart.svg" alt="My Cart" class="user-logo">
               <span class="image-label">My Cart</span>
            </div>
          </div>
        </a>
      </li>
      <li class="nav-item"  *ngIf="authService.isLoggedIn()">
        <a class="nav-link" href="#">
          <div class="image-box">
            <div class="image-item">
              <img src="assets/images/svg/help.svg" alt="Help" class="user-logo">
               <span class="image-label">Help</span>
            </div>
          </div>
        </a>
      </li>
      <li class="nav-item"  *ngIf="authService.isLoggedIn()">
        <a class="nav-link" href="#">
          <div class="image-box">
            <div class="image-item">
              <img src="assets/images/svg/user-acct.svg" alt="My Account" class="user-logo">
               <span class="image-label">My Account</span>
            </div>
          </div>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span class="image-label"></span>
          <img src="assets/images/svg/tata-logo.svg" alt="Tata logo" class="tatalogo">
        </a>
      </li>
    </ul>
  </div>
</nav>

