<header class="header">

  <img
  src="assets/images/svg/logo.svg"
  alt="Tata Communications" class="logo"
 />
  <nav class="nav-header">
      <div class="header_login">
          <div class="login-section">
            <label for="" class="logintext">Login</label>
            <img src="assets/images/svg/user-circle.svg" alt="Login User" class="user-logo">
          </div>
      </div>
      <div class="logged-users-section">

        <div class="image-box">
          <div class="image-item">
            <img src="assets/images/svg/user-circle.svg" alt="Login User" class="user-logo">

            <span class="image-label">My Cart</span>
          </div>
          </div>
          <div class="image-box">
            <div class="image-item">
              <img src="assets/images/svg/user-circle.svg" alt="Login User" class="user-logo">

              <span class="image-label">My Cart</span>
            </div>
            </div>
            <div class="image-box">
              <div class="image-item">
                <img src="assets/images/svg/user-circle.svg" alt="Login User" class="user-logo">

                <span class="image-label">My Cart</span>
              </div>
              </div>
      </div>
      <div>
        <img src="assets/images/svg/tata-logo.svg" alt="Tata logo" class="tatalogo">
       </div>
 </nav>

</header>
