<nav class="sideBar">
    <a class="selected side-menu" href="#">
        <div class="icon-label-box">
              <img src="assets/images/svg/home.svg" alt="Login User" class="icon-color">
                 <span class="image-label">My dashboard</span>
        </div>
          
    </a>
    <a  class="side-menu" (click)="openRequest()">
        <div class="icon-label-box">
            <img src="assets/images/svg/orders.svg" alt="Login User" class="icon-color">
               <span class="image-label">Requests</span>
      </div>
    </a>
    <a href="#" class="side-menu">
        <div class="icon-label-box">
            <img src="assets/images/svg/wallet.svg" alt="Login User" class="icon-color">
               <span class="image-label">My Wallet</span>
      </div>
    </a>
    <a href="#" class="side-menu">
        <div class="icon-label-box">
            <img src="assets/images/svg/report.svg" alt="Login User" class="icon-color">
               <span class="image-label">Reports</span>
      </div>
    </a>
    <a href="#" class="side-menu">
        <div class="icon-label-box">
            <img src="assets/images/svg/invoices.svg" alt="Login User" class="icon-color">
               <!-- <span class="image-label">Invoices</span> -->
      </div>
    </a>
    <a href="#" class="side-menu">
        <div class="icon-label-box">
            <img src="assets/images/svg/users.svg" alt="Login User" class="icon-color">
               <span class="image-label">Users</span>
      </div>
    </a>
    </nav>