
<main>
  <nav class="sideBar">
      <a class="selected" href="#">
          <div class="icon-label-box">
                <img src="assets/images/svg/home.svg" alt="Login User" class="icon-color">
                   <span class="image-label">My dashboard</span>
          </div>
            
      </a>
      <a href="#">
          <div class="icon-label-box">
              <img src="assets/images/svg/orders.svg" alt="Login User" class="icon-color">
                 <span class="image-label">Requests</span>
        </div>
      </a>
      <a href="#">
          <div class="icon-label-box">
              <img src="assets/images/svg/wallet.svg" alt="Login User" class="icon-color">
                 <span class="image-label">My Wallet</span>
        </div>
      </a>
      <a href="#">
          <div class="icon-label-box">
              <img src="assets/images/svg/report.svg" alt="Login User" class="icon-color">
                 <span class="image-label">Reports</span>
        </div>
      </a>
      <a href="#">
          <div class="icon-label-box">
              <img src="assets/images/svg/invoices.svg" alt="Login User" class="icon-color">
                 <!-- <span class="image-label">Invoices</span> -->
        </div>
      </a>
      <a href="#">
          <div class="icon-label-box">
              <img src="assets/images/svg/users.svg" alt="Login User" class="icon-color">
                 <span class="image-label">Users</span>
        </div>
      </a>
      </nav>
      <div class="content">
        <div class="dashboard-box" style="margin-top:5rem">
          <div class="card">
            <div class="card-header card-header-css">
              Featured
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-sm-12 col-md-4">
                  <div class="card bg-light mb-3 white-bg" >
                    <div class="card-header white-bg" style="background-color: white;">
                      <div class="smry-heading">
                        <p class="bold-text">Total Balance</p>
                        <p class="rchTxt" style="    color: #EA7926;">Recharge</p>
                     </div>     
                    </div>
                    <div class="card-body" style="background-color: white;">
                      <div class="container">
                        <div class="row">
                            <div class="col-sm-12 mx-auto">
                               
                                  <div class="progress-circle p60 center-block">
                                    <span style="margin-top: 10px;">$60</span>
                                   
                                    <div class="left-half-clipper">
                                        <div class="first60-bar"></div>
                                        <div class="value-bar"></div>
                                    </div>
                                </div>
                              
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="card-footer" style="background-color: white;">
                       <span class="blnText">
                         Balance Left: &nbsp;&nbsp;</span>
                         <span class="blnValue">50%</span>
                       
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-md-4">
                  <div class="card bg-light mb-3 white-bg" >
                    <div class="card-header white-bg" style="background-color: white;">
                      <div class="smry-heading">
                        <p class="bold-text">Request</p>
                        <p class="rchTxt" style="    color: #EA7926;">VIEW ALL</p>
                     </div>     
                    </div>
                    <div class="card-body" style="background-color: white;">
                      <div class="container">
                        <div class="row">
                            <div class="col-sm-12 mx-auto">
                               
                                  <div class="progress-circle p50 center-block">
                                    <span>50%</span>
                                    <span style="    font-size: 14px;line-height: 12em;width: 10em;">Completed</span>
                                    <div class="left-half-clipper">
                                        <div class="first50-bar"></div>
                                        <div class="value-bar"></div>
                                    </div>
                                </div>
                              
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="card-footer footerCenter" style="background-color: white;">
                      <span class="blnText">
                       TOTAL ACTIVE REQUEST: &nbsp; </span>
                        <span class="reqValue">06 <i class="fas fa-angle-right"></i></span>
                        <span class="ml-auto"><i class="material-icons" style="color:red">keyboard_arrow_right</i>
                        </span>
                      </div>
                  </div>
                </div>
                <div class="col-sm-12 col-md-4">
                 
                      <div class="card bg-light mb-3 white-bg" >
                        <div class="card-header white-bg" style="background-color: white;">
                          <div class="smry-heading">
                            <p class="bold-text">Transaction History</p>
                            <p class="rchTxt" style="    color: #EA7926;">VIEW ALL</p>
                         </div>     
                        </div>
                        <div class="card-body" style="background-color: white;">
                            <div class="trans-desc">
                                <p> Last recharge Date</p>
                                <p> 24-08-2020</p>
                            </div>
                            <div class="trans-desc">
                              <p>Last recharge date</p>
                              <p>200$</p>
                            </div>
                            <div class="trans-desc">
                            <p>Payment Method</p>
                            <p> Card</p>
                           </div>
                            <div class="trans-desc">
                            <p>Last recharge date</p>
                            <p> 24-08-2020</p>
                          </div>
                          
                        </div>
                        
                      </div>
                   
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="dashboard-box" style="margin-top: 0px;margin-bottom: 0px;">
          <div class="card">
          
            <div class="card-body">
              <div class="row">
                <div class="col-sm-12 col-md-4">
                  <div class="card bg-light mb-3 white-bg" >
                    <div class="card-header white-bg" style="background-color: white;">
                      <div class="smry-heading">
                        <p class="bold-text">My Configuration</p>
                        <p class="rchTxt" style="    color: #EA7926;">ADD/EDIT</p>
                     </div>     
                    </div>
                    <div class="card-body " style="min-height: 230px;">
                      <h5 class="card-title"></h5>
                      <p class="card-text" style="    margin-top: 4rem;">
                        <span class="blnText"> Global Outband</span>
                                <span class="blnValue">4 Sites</span>
                     </p>
                    </div>
                    <div class="card-footer bg-transparent "
                     style="height: 62px;    display: flex;align-items: center;">
                     <span class="blnText">
                      Total Active Configuartion: &nbsp;&nbsp;</span>
                       <span class="blnValue">04</span>
                    </div>
                  
                  </div>
                </div>
                <div class="col-sm-12 col-md-4">
                  <div class="card bg-light mb-3 white-bg" >
                    <div class="card-header white-bg" style="background-color: white;">
                      <div class="smry-heading">
                        <p class="bold-text">Invoices</p>
                        <p class="rchTxt" style="    color: #EA7926;">VIEW ALL</p>
                     </div>     
                    </div>
                    <div class="card-body" style="background-color: white;min-height: 292px;">
                      <table class="my_table"  >
                        <tr class="dark-grey card-text-css text-center">
                          <th class="site-heading border-none">SITE ID</th>
                          <th class=" width-60%">SITE ADDRESS</th>
                          <th style="width: 20%;">  </th>
                        </tr>
                        <tr class="charcoal-color light-white-bg card-text-shadow  text-center"> 
                          <td class="site-heading card-text-css border-none">
                            <p>#S971</p>
                          </td>
                          <td class="card-text-css  width-60 ">
                            <p>#333333</p>
                          </td>
                          <td>
                            <p class="rchTxt" style="    color: #EA7926;">VIEW</p>
                          </td>
                         </tr>
                         <tr class="charcoal-color light-white-bg card-text-shadow  text-center"> 
                          <td class="site-heading card-text-css border-none">
                            <p>#S971</p>
                          </td>
                          <td class="card-text-css  width-60 ">
                            <p>#333333</p>
                          </td>
                          <td>
                            <p class="rchTxt" style="    color: #EA7926;">VIEW</p>
                          </td>
                         </tr>
                         <tr class="charcoal-color light-white-bg card-text-shadow  text-center"> 
                          <td class="site-heading card-text-css border-none">
                            <p>#S971</p>
                          </td>
                          <td class="card-text-css  width-60 ">
                            <p>#333333</p>
                          </td>
                          <td>
                            <p class="rchTxt" style="    color: #EA7926;">VIEW</p>
                          </td>
                         </tr>
                         <tr class="charcoal-color light-white-bg card-text-shadow  text-center"> 
                          <td class="site-heading card-text-css border-none">
                            <p>#S971</p>
                          </td>
                          <td class="card-text-css  width-60 ">
                            <p>#333333</p>
                          </td>
                          <td>
                            <p class="rchTxt" style="    color: #EA7926;">VIEW</p>
                          </td>
                         </tr>
                    </table>
                    </div>
        
                  </div>
                </div>
                <div class="col-sm-12 col-md-4">
                 
                      <div class="card bg-light mb-3 white-bg" >
                        <div class="card-header white-bg" style="background-color: white;">
                          <div class="smry-heading">
                            <p class="bold-text">CDR Reports</p>
                            <p class="rchTxt" style="    color: #EA7926;">VIEW ALL</p>
                         </div>     
                        </div>
                        <div class="card-body" style="background-color: white;">
                          <table class="my_table"  >
                            <tr class="dark-grey card-text-css text-center">
                              <th class="site-heading" style="border: none;">SITE ID</th>
                              <th class="site-data">SITE ADDRESS</th>
                            </tr>
                            <tr class="charcoal-color light-white-bg card-text-shadow"> 
                              <td class="site-heading card-text-css">
                                <p>Accenture Mumbai</p>
                              </td>
                              <td class="site-data card-text-css  ">
                                <p>34, Tower, Well , Mumbai Maharashtra, India 400001</p>
                              </td>
                             </tr>
                             <tr class="charcoal-color light-white-bg card-text-shadow"> 
                              <td class="site-heading card-text-css">
                                <p>Accenture Mumbai</p>
                              </td>
                              <td class="site-data card-text-css">
                                <p>34, Tower, Well , Mumbai Maharashtra, India 400001</p>
                              </td>
                             </tr>
                             <tr class="charcoal-color light-white-bg card-text-shadow"> 
                              <td class="site-heading card-text-css">
                                <p>Accenture Mumbai</p>
                              </td>
                              <td class="site-data card-text-css  ">
                                <p>34, Tower, Well , Mumbai Maharashtra, India 400001</p>
                              </td>
                             </tr>
                             <tr class="charcoal-color light-white-bg card-text-shadow"> 
                              <td class="site-heading card-text-css">
                                <p>Accenture Mumbai</p>
                              </td>
                              <td class="site-data card-text-css ">
                                <p>34, Tower, Well , Mumbai Maharashtra, India 400001</p>
                              </td>
                             </tr>
                            
                           
                           
                          </table>
                          
                        </div>
                        
                      </div>
                   
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</main>