<main>
    <nav class="sideBar">
        <a class="selected" href="#">
            <div class="icon-label-box">
                  <img src="assets/images/svg/home.svg" alt="Login User" class="icon-color">
                     <span class="image-label">My dashboard</span>
            </div>
              
        </a>
        <a href="#">
            <div class="icon-label-box">
                <img src="assets/images/svg/orders.svg" alt="Login User" class="icon-color">
                   <span class="image-label">Requests</span>
          </div>
        </a>
        <a href="#">
            <div class="icon-label-box">
                <img src="assets/images/svg/wallet.svg" alt="Login User" class="icon-color">
                   <span class="image-label">My Wallet</span>
          </div>
        </a>
        <a href="#">
            <div class="icon-label-box">
                <img src="assets/images/svg/report.svg" alt="Login User" class="icon-color">
                   <span class="image-label">Reports</span>
          </div>
        </a>
        <a href="#">
            <div class="icon-label-box">
                <img src="assets/images/svg/invoices.svg" alt="Login User" class="icon-color">
                   <!-- <span class="image-label">Invoices</span> -->
          </div>
        </a>
        <a href="#">
            <div class="icon-label-box">
                <img src="assets/images/svg/users.svg" alt="Login User" class="icon-color">
                   <span class="image-label">Users</span>
          </div>
        </a>
        </nav>
        <div class="content">
            <div class="dashboard-box">
                    <div class="account-summary">
                           <div class="bold-text act-heading">
                            <p>Account Summary</p> 
                           </div>
                           <div class="container-fluid">
                            <div class="row">
                              <div class="col-sm-4">
                                <div class="card">
                                 
                          
                                  <div class="card-content">
                                    <div class="smry-heading">
                                        <p class="bold-text">Total Balance</p>
                                        <p class="rchTxt" style="    color: #EA7926;">Recharge</p>
                                     </div>

                                  </div>
                          
                                  <div class="card-action">
                                   
                                  </div>
                                </div>
                          
                              </div>
                              <div class="col-sm-4">
                                <div class="card">
                                 
                          
                                  <div class="card-content">
                                   <div class="smry-heading">
                                        <p class="bold-text">Request</p>
                                        <p class="rchTxt" style="    color: #EA7926;">VIEW ALL</p>
                                     </div>
                                  </div>
                          
                                  <div class="card-action">
                                
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-4">
                                <div class="card">
                                  
                          
                                  <div class="card-content">
                                    <div class="smry-heading">
                                        <p class="bold-text">Transaction History</p>
                                        <p class="rchTxt" style="    color: #EA7926;">VIEW ALL</p>
                                     </div>     
                                  </div>
                          
                                  <div class="card-action">
                                 
                          
                                  </div>
                                </div>
                              </div>
            
                          
                            </div>
                          
                          </div>
                           <!-- <div class="act-summary-desc">
                               <div class="container-fluid">
                                <div class="row">
                                    <div class="text-center col-md-4">
                                        <div class="bg-info mr-md-2">
                                            <div class="smry-heading">
                                                    <p class="blnceTxt">Total Balance</p>
                                                    <p class="rchTxt">Recharge</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center col-md-4">
                                        <div class="bg-info ml-md-2">Widget 2</div>
                                    </div>
                                     <div class="text-center col-md-4">
                                        <div class="bg-info ml-md-2">Widget 3</div>
                                    </div>
                                </div>
                               </div>
                           </div> -->
                    </div>
            </div>
        <h1>Sample Text</h1>
        <h2>Resize the browser to 700px to change vertical navbar to horizontal navbar</h2>
        </div>
</main>