<main>
    <nav class="sideBar">
        <a class="selected" href="#">
            <div class="icon-label-box">
                  <img src="assets/images/svg/home.svg" alt="Login User" class="icon-color">
                     <span class="image-label">My dashboard</span>
            </div>
              
        </a>
        <a href="#">
            <div class="icon-label-box">
                <img src="assets/images/svg/orders.svg" alt="Login User" class="icon-color">
                   <span class="image-label">Requests</span>
          </div>
        </a>
        <a href="#">
            <div class="icon-label-box">
                <img src="assets/images/svg/wallet.svg" alt="Login User" class="icon-color">
                   <span class="image-label">My Wallet</span>
          </div>
        </a>
        <a href="#">
            <div class="icon-label-box">
                <img src="assets/images/svg/report.svg" alt="Login User" class="icon-color">
                   <span class="image-label">Reports</span>
          </div>
        </a>
        <a href="#">
            <div class="icon-label-box">
                <img src="assets/images/svg/invoices.svg" alt="Login User" class="icon-color">
                   <!-- <span class="image-label">Invoices</span> -->
          </div>
        </a>
        <a href="#">
            <div class="icon-label-box">
                <img src="assets/images/svg/users.svg" alt="Login User" class="icon-color">
                   <span class="image-label">Users</span>
          </div>
        </a>
        </nav>
        <div class="content">
          <div class="dashboard-box">
            <div class="card">
              <div class="card-header">
                Featured
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-12 col-md-4">
                    <div class="card bg-light mb-3 white-bg" >
                      <div class="card-header white-bg" style="background-color: white;">
                        <div class="smry-heading">
                          <p class="bold-text">Total Balance</p>
                          <p class="rchTxt" style="    color: #EA7926;">Recharge</p>
                       </div>     
                      </div>
                      <div class="card-body" style="background-color: white;">
                        <div class="container">
                          <div class="row">
                              <div class="col-sm-12 mx-auto">
                                 
                                    <div class="progress-circle p60 center-block">
                                      <span style="margin-top: 10px;">$60</span>
                                     
                                      <div class="left-half-clipper">
                                          <div class="first60-bar"></div>
                                          <div class="value-bar"></div>
                                      </div>
                                  </div>
                                
                              </div>
                          </div>
                      </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-4">
                    <div class="card bg-light mb-3 white-bg" >
                      <div class="card-header white-bg" style="background-color: white;">
                        <div class="smry-heading">
                          <p class="bold-text">Request</p>
                          <p class="rchTxt" style="    color: #EA7926;">VIEW ALL</p>
                       </div>     
                      </div>
                      <div class="card-body" style="background-color: white;">
                        <div class="container">
                          <div class="row">
                              <div class="col-sm-12 mx-auto">
                                 
                                    <div class="progress-circle p50 center-block">
                                      <span>50%</span>
                                      <span style="    font-size: 14px;line-height: 12em;width: 10em;">Completed</span>
                                      <div class="left-half-clipper">
                                          <div class="first50-bar"></div>
                                          <div class="value-bar"></div>
                                      </div>
                                  </div>
                                
                              </div>
                          </div>
                      </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-4">
                   
                        <div class="card bg-light mb-3 white-bg" >
                          <div class="card-header white-bg" style="background-color: white;">
                            <div class="smry-heading">
                              <p class="bold-text">Transaction History</p>
                              <p class="rchTxt" style="    color: #EA7926;">VIEW ALL</p>
                           </div>     
                          </div>
                          <div class="card-body" style="background-color: white;">
                              <div class="trans-desc">
                                  <p> Last recharge Date</p>
                                  <p> 24-08-2020</p>
                              </div>
                              <div class="trans-desc">
                                <p>Last recharge date</p>
                                <p>200$</p>
                              </div>
                              <div class="trans-desc">
                              <p>Payment Method</p>
                              <p> Card</p>
                             </div>
                              <div class="trans-desc">
                              <p>Last recharge date</p>
                              <p> 24-08-2020</p>
                            </div>
                            
                          </div>
                        </div>
                     
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
</main>